.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 21px 10px;
}

.Item-price {
  width: 50%;
  display: flex;
  justify-content: end;
  padding: 20px 10px;
}

.Item-count {
  width: 19.3%;
  display: flex;
  justify-content: end;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 15px;
}

.Item-button {
  padding: 0 8px;
}
